@font-face {
 font-family: "AAC";
 src: url("../fonts/Rosmatika.ttf");
}
@font-face {
 font-family: "Timeless";
 src: url("../fonts/Roboto-Light.ttf");
}

body, html {
  margin: 0;
  padding: 0;
}


h1 {
  margin: 0;
  padding: 0;
}

body {
	font-family: 'Timeless';
	position: relative;
	height: 100vh;
	background: url("../image/DSC07063.jpg") no-repeat center center;
	background-size: cover;
  background-attachment: fixed;
}



h1 {
	font-family: 'AAC';
	text-align: center;
	font-size: 3em;
  padding-top: 20px;
}

.contenant, .contenant2 {
    display: flex;
    justify-content: center;
    align-items: center;
}

.pres {
	background-color: rgba(166,183,255,0.7);
	margin: 5px;
	border-radius: 10px;
	padding: 10px;
	position: absolute;
	height: 70vh;
  width: 70%;
  border: 2px solid rgba(166,183,255,0.4);
  box-shadow: 6px 5px 5px rgba(100,100,100,1);

}


.pres p {
	text-align: justify;
	font-size: 1.5em;
}

ul {
	list-style: none;
	justify-content: center;
	display: flex;
	flex-direction: row;
	padding: 0;
}

a {
	text-decoration: none;
	color: black;
}

article {
	min-width: 400px;
	width: 50vw;
	position: relative;
	float: left;
	height: 80vh;
	top: 100px;
  border-radius: 20px;
	background-color: rgba(200,200,200,0.5);
  box-shadow: 6px 5px 5px rgba(50,50,50,1);

  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

@media screen and (min-width: 920px) {
  .contenant2 {
    display: block;
  }

  article {
    border-radius: 0px;
    border-top-right-radius: 20px;
    border-bottom-right-radius: 20px;
  }
}

section {
  overflow: auto;
  height: 70%;
  border: hidden;
}

.news-h
{
    background-color: #A67F37;
    color: black;
    font-size:1.5em;
    margin-bottom:0px;
    text-align:center;
    border-top-left-radius: 10px;
    border-top-right-radius: 10px;
}

.news-p
{
    background-color:rgba(174, 180, 191, 1);
    margin-top:0px;
    padding: 7px;
    border-bottom-left-radius: 10px;
    border-bottom-right-radius: 10px;
    padding-bottom: 50px;
    margin-bottom: 50px;
}

.news-credit{
  text-align: center;
  background-color: rgba(115, 92, 25,0.7);
}

.news
{
    width:90%;
    margin:auto;
    box-shadow: 6px 5px 5px rgba(100,100,100,1);
    border-radius: 10px;
}

.news-a
{
    text-decoration: none;
}

.droite {
    float: right;    
}



.connexion {
  border-radius: 10px;
  padding: 10px;
  text-align: center;
  margin-top: 7px;
  margin-right: 7px;
  display: flex;
  flex-direction: row;
  justify-content: space-around;
}

.connexion a {
  margin: 0;
  color: black;
}

.aa {
  margin: 0;
  color: black;
  font-weight: bold;
  font-size: 20px;
}

.insc {
  border-bottom: 1px solid white;
}

.connexion {

  text-shadow:
    0 0 5px #fff,
    0 0 10px #fff,
    0 0 20px #fff,
    0 0 40px #0ff,
    0 0 80px #0ff,
    0 0 90px #0ff,
    0 0 100px #0ff,
    0 0 150px #0ff;
}


.commentaire {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
}

.labelC {
    margin-right: 10px;
}

.textareaC {
    margin-right: 10px;    
}

.inputC {
    padding-left: 10px;
}

.addComm {
    border: 5px solid grey;
    border-radius: 10px;
    background-color: lightgrey;
}

.com {
    height: auto;
    background-color: lightgrey;
    border: 5px solid grey;
    border-radius: 10px;
    margin-bottom: 10px;
}

.blockCom {
    height: 275px;
    overflow: auto;
}

/*/ test /*/

.button {
  display: inline-block;
  border-bottom-right-radius: 20px;
  border-bottom-left-radius: 20px;
  background-color: rgba(196,255,140,0.5);
  border: none;
  text-align: center;
  font-size: 28px;
  padding: 10px;
  width: 300px;
  transition: all 0.5s;
  cursor: pointer;
  margin: 0;
  color: black;
  box-shadow: 6px 5px 5px rgba(50,50,50,1);

}

.button2 {
  width: 200px;
  margin: 10px;
}

.button:hover {
  background-color: rgba(196,255,140,1);
  
}


.button span {
  cursor: pointer;
  display: inline-block;
  position: relative;
  transition: 0.5s;
}

.button span:after {
  content: '\00bb';
  position: absolute;
  opacity: 0;
  top: 0;
  right: -20px;
  transition: 0.5s;
}

.button:hover span {
  padding-right: 25px;
}

.button:hover span:after {
  opacity: 1;
  right: 0;
}
